<template>
  <div class="home">
    <app-Header></app-Header>
  <div id="base">
    <div id="content">
      <section>
         <router-view></router-view>
      </section>     
      </div>
    </div>
  
  <app-menu></app-menu>  
    <vue-progress-bar></vue-progress-bar>    
 </div>  
  </div>
</template>

<script>
import appHeader from '../components/app_header'
import appMenu from '../components/app_menu'
import Vue from 'vue'
export default {
  name: 'home',
  created () {
    if (!Vue.localStorage.get('token')) this.$router.push('/')    
  },
   components: {
    appHeader,
    appMenu
  }
}
</script>
