 <template>
  <div class="headerbar-right">
      <ul class="header-nav header-nav-profile">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
            <img src="" alt="" />
            <span class="profile-info">             
              <small>Sucursal</small>
            </span>
          </a>
          <ul class="dropdown-menu animation-dock">
            <li>
              <a href="" @click="logout">
                <i class="fa fa-fw fa-power-off text-danger"></i> Logout</a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-fw fa-key text-danger"></i> Cambiar contraseña</a>
            </li>
          </ul>        
        </li>       
      </ul>    
    </div>
</template>
<script>
export default {
  name: 'app_usermenu',
   data () {
    return {
      login: '',
      password: ''
    }
  },
  methods: {
    logout(){
      this.$localStorage.remove('token')
      location.reload()
    }
  },
  props: {
    msg: String
  }
}
</script>